*{
    padding: 0px;
    margin: 0px;
}

.quote-box{
    background-color: aqua;
    width: 700px;
    height: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
}

.random-quote{

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50px;
    background-color: white;
}

#quote{
    text-align: center;
    top: 50%;
}